{% load humanize %}
<input type="hidden" name="size" id="size"
       value="{{ size_id }}">
<ul class="color-option" style="display: flex">
    <p class="color-title f-left">نوع</p>
    {% for rs in colors %}
        <input type="radio" {% if variant.id == rs.id %}checked {% endif %} name="variantid" id="variantid"
               value="{{ rs.id }}" onchange="this.form.submit();" style="margin-left: 5px">
        <li  {% if variant.id == rs.id %}
            class="active" {% endif %}style="margin-left: 15px">
            <a style="margin-left: 12px">
                {{ rs.color }}
            </a>
            <a>
                {{ rs.price |intcomma:False }} هزار تومان
            </a>
        </li>
    {% endfor %}
</ul>