{% extends 'homebase.html' %}
{% load humanize %}

{% block title %}  {{ setting.title }}  | سوالات متداول {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMBS SETCTION START -->
    <div class="breadcrumbs-section plr-200 mb-80">
        <div class="breadcrumbs overlay-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner">
                            <h1 class="breadcrumbs-title">سوالات متداول</h1>
                            <ul class="breadcrumb">
                                <li><a href="/">خانه</a></li>
                                <li>سوالات متداول</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS SETCTION END -->

    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <div class="mb-80">

            <!-- Accordion Start -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion">
                            {% for rs in faq %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#{{ rs.id }}" aria-expanded="false"
                                           aria-controls="">
                                            {{ rs.question }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{ rs.id }}" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>{{ rs.answer | safe }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Accordion End -->

        </div>
    </section>
    <!-- End page content -->

{% endblock %}