{% load static %}
<!-- START FOOTER AREA -->
<footer id="footer" class="footer-area">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="plr-185">
                <div class="footer-top-inner theme-bg">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-4">
                            <div class="single-footer footer-about">
                                <div class="footer-logo">
                                    <img src="{% static '' %}img/logo/logo.png" alt="">
                                </div>
                                <div class="footer-brief">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                        است</p>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه</p>
                                </div>
                                <ul class="footer-social">
                                    <li>
                                        <a class="facebook" href="" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="google-plus" href="" title="Google Plus"><i
                                                class="zmdi zmdi-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 hidden-md hidden-sm">
                            <div class="single-footer">
                                <h4 class="footer-title border-left">حمل و نقل</h4>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>محصولات جدید</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>محصولات تخفیف دار</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>محصولات پر فروش</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>محصولات محبوب</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>تولید کنندگان</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>فروشندگان</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>محصولات ویژه</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="single-footer">
                                <h4 class="footer-title border-left">حساب کاربری</h4>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>حساب کاربری</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>لیست علاقه‌مندی ها</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>سبد خرید</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>ورود</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>ثبت نام</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>پرداخت</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>تکمیل سفارش</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="single-footer">
                                <h4 class="footer-title border-left">ارتباط با ما</h4>
                                <div class="footer-message">
                                    <form action="#">
                                        <input type="text" name="name" placeholder="نام شما ...">
                                        <input type="email" name="email" placeholder="... ایمیل شما" dir="ltr">
                                        <textarea class="height-80" name="message"
                                                  placeholder="پیام شما ..."></textarea>
                                        <button class="submit-btn-1 mt-20 btn-hover-1" type="submit">ثبت پیام</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom black-bg">
        <div class="container-fluid">
            <div class="plr-185">
                <div class="copyright">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="copyright-text">
                                <p> طراحی شده توسط <a href="https://github.com/pjavidan1988" target="_blank">پیمان
                                    جاویدان</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <ul class="footer-payment text-right">
                                <li>
                                    <a href="#"><img src="{% static '' %}img/payment/1.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static '' %}img/payment/2.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static '' %}img/payment/3.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static '' %}img/payment/4.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER AREA -->

<!-- Placed JS at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script src="{% static 'js/vendor/jquery-3.1.1.min.js' %}"></script>
<!-- Bootstrap framework js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- jquery.nivo.slider js -->
<script src="{% static 'js/jquery.nivo.slider.js' %}"></script>
<!-- All js plugins included in this file. -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="{% static 'js/main.js' %}"></script>

<!--[if lt IE 10]>
<script src="{% static 'js/jquery.placeholder.min.js'%}" type="text/javascript"></script>
<script type="text/javascript">$('input, textarea').placeholder();</script>
<![endif]-->