{% load static %}

<!-- START FOOTER AREA -->
<footer id="footer" class="footer-area">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="plr-185">
                <div class="footer-top-inner theme-bg">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-4">
                            <div class="single-footer footer-about">
                                <div class="footer-logo">
                                    <img src="{{ setting.logo.url }}" alt="" height="80">
                                </div>
                                <ul class="footer-social">
                                    <li>
                                        <a class="google-plus" href="" title="INSTAGRAM"><i
                                                class="zmdi zmdi-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a id="scrollUp" href="{{ setting.whatsapp }}" style="position: fixed; z-index: 2147483647; margin-bottom: 55px; color: aliceblue; border-color: #4cae4c;  background-color: #4cae4c" ><i class="zmdi zmdi-whatsapp"></i></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom black-bg">
        <div class="container-fluid">
            <div class="plr-185">
                <div class="copyright">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="copyright-text">
                                <p> طراحی شده توسط <a href="https://github.com/pjavidan1988" target="_blank">پیمان
                                    جاویدان</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER AREA -->

<!-- Placed JS at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script src="{% static 'js/vendor/jquery-3.1.1.min.js' %}"></script>
<!-- Bootstrap framework js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- jquery.nivo.slider js -->
<script src="{% static 'js/jquery.nivo.slider.js' %}"></script>
<!-- All js plugins included in this file. -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="{% static 'js/main.js' %}"></script>

<!--[if lt IE 10]>
<script src="{% static 'js/jquery.placeholder.min.js'%}" type="text/javascript"></script>
<script type="text/javascript">$('input, textarea').placeholder();</script>
<![endif]-->