{% extends 'homebase.html' %}

{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}


{% block slider %} {% include 'slider.html' %} {% endblock %}
{% block body %} {% include 'content.html' %}  {% endblock %}
{% block quickview_product %} {% include 'quickview_product.html' %} {% endblock %}
{% block style_customizer %} {% include 'style_customizer.html' %} {% endblock %}


