{% extends 'homebase.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% load jformat %}
{% block title %} {{ product.title }} | جزئیات محصول {% endblock %}
{% block description %} {{ product.description }} {% endblock %}
{% block keywords %} {{ product.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMBS SETCTION START -->
    <div class="breadcrumbs-section plr-200 mb-80">
        <div class="breadcrumbs overlay-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner">
                            <h1 class="breadcrumbs-title">{{ product.title }}</h1>
                            <ul class="breadcrumb">
                                <li><a href="/">خانه</a></li>
                                <li>
                                    <a href="/category/{{ product.category.id }}/{{ product.category.slug }}">{{ product.category.title }}</a>
                                </li>
                                <li>{{ product.title }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS SETCTION END -->



    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- SHOP SECTION START -->
        <div class="shop-section mb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <!-- single-product-area start -->
                        <div class="single-product-area mb-80">
                            <div class="row">
                                <!-- imgs-zoom-area start -->
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="imgs-zoom-area">
                                        <img id="zoom_03" src="{{ product.image.url }}"
                                             data-zoom-image="{{ product.image.url }}" alt="">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30">
                                                    {% for rs in images %}
                                                        <div class="p-c">
                                                            <a href="#" data-image="{{ rs.image.url }}"
                                                               data-zoom-image="{{ rs.image.url }}">
                                                                <img class="zoom_03" src="{{ rs.image.url }}" alt="">
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- imgs-zoom-area end -->
                                <!-- single-product-info start -->
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <div class="single-product-info">
                                        <h3 class="text-black-1">{{ product.title }}</h3>
                                        <h6 class="brand-name-2">{{ product.brand_name }}</h6>
                                        <!-- hr -->
                                        <hr>
                                        <!-- single-product-tab -->
                                        <div class="single-product-tab">
                                            <ul class="reviews-tab mb-20">
                                                <li class="active"><a href="#description" data-toggle="tab">توضیحات</a>
                                                </li>
                                                <li><a href="#information" data-toggle="tab">اطلاعات</a></li>
                                                <li><a href="#reviews" data-toggle="tab">نقد و بررسی ها</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="description">
                                                    <p>{{ product.description | safe }}</p>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="information">
                                                    <p>{{ product.detail | safe }}</p>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="reviews">
                                                    <!-- reviews-tab-desc -->
                                                    <div class="reviews-tab-desc">
                                                        {% for rs in comments %}
                                                            <!-- single comments -->
                                                            <div class="media mt-30">
                                                                <div class="media-left">
                                                                    <a href="#"><img class="media-object"
                                                                                     src="{{ rs.user.userprofile.image.url }}"
                                                                                     alt=""></a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="clearfix">
                                                                        <div class="name-commenter pull-left">
                                                                            <h1 class="media-heading">{{ rs.user.first_name }}</h1>
                                                                            <h3 class="media-heading">{{ rs.subject }}</h3>
                                                                            <p class="mb-10">{{ rs.create_at|jformat:"%d / %m / %Y" }}</p>
                                                                        </div>
                                                                    </div>
                                                                    <p class="mb-0">{{ rs.comment }}</p>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                        {% if messages %}
                                                            {% for message in messages %}
                                                                <div class="alert alert-success">
                                                                    <strong>{{ message }}</strong>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <script>
                                            $(document).on('change', '#post-form', function (e) {
                                                e.preventDefault();
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '{% url "ajaxcolor" %}',
                                                    data: {
                                                        productid: $('#productid').val(),
                                                        size: $('#size').val(),
                                                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                                        action: 'post'
                                                    },
                                                    data_type: 'html',
                                                    success: function (data) {
                                                        console.log("success");
                                                        $('#appendHere').html(data.rendered_table);
                                                    },
                                                    error: function (data) {
                                                        alert("Got an error dude " + data);
                                                    }
                                                });
                                            });
                                        </script>

                                        <!-- hr -->
                                        {% if product.variant == 'Size-Color' %}
                                            <hr>
                                            <div class="single-pro-color-rating clearfix">
                                            <div class="product-options">
                                                <div class="size-option">
                                                    <form method="POST" id="post-form">
                                                        <input type="hidden" name="productid" id="productid"
                                                               value="{{ product.id }}">
                                                        <p class="color-title f-left">سایز</p>
                                                        {% csrf_token %}
                                                        <select name="size" id="size">
                                                            {% for rs in sizes %}
                                                                <option {% if variant.size_id == rs.size_id %} selected {% endif %}
                                                                        value="{{ rs.size_id }}">{{ rs.size.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </form>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="single-pro-color-rating clearfix">
                                                <form method="post" action="?q=selectvariant" id="post-color">
                                                    {% csrf_token %}
                                                    <div id="appendHere">
                                                        <input type="hidden" name="size" id="size"
                                                               value="{{ size_id }}">
                                                        <ul class="color-option" style="display: flex">
                                                            <p class="color-title f-left">نوع</p>
                                                            {% for rs in colors %}
                                                                <input type="radio" {% if variant.id == rs.id %}checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();" style="margin-left: 5px">
                                                                <li  {% if variant.id == rs.id %}
                                                                    class="active" {% endif %}style="margin-left: 15px">
                                                                    <a style="margin-left: 12px">
                                                                        {{ rs.color }}
                                                                    </a>
                                                                    <a>
                                                                        {{ rs.price |intcomma:False }} هزار تومان
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </form>
                                            </div>
                                            <hr>
                                            <div>
                                                <p class="color-title" style="display: contents">در صورت درخواست اندازه
                                                    دلخواه <a href="/ordersize" style="color: #00a9da">کلیک کنید</a></p>
                                            </div>
                                            <hr>
                                        {% endif %}
                                        {% if  product.variant != 'None' %}
                                            <!-- single-product-price -->
                                            <form action="/order/addtoshopcart/{{ product.id }}" method="post"
                                                  id="addchart-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="variantid" id="variantid"
                                                       value="{{ variant.id }}">
                                                <h3 class="pro-price"> قیمت: {{ variant.price |intcomma:False }}
                                                    تومان</h3>
                                                <!--  hr -->
                                                <hr>
                                                <h3 class="pro-price">{% if variant.quantity > 0 %} موجودی :
                                                    {{ variant.quantity }} {% else %} ناموجود {% endif %}</h3>
                                                <!--  hr -->
                                                <hr>
                                                <div>
                                                    <h3 class="pro-price"> سایز : {{ variant.size }}</h3>
                                                </div>
                                                <hr>
                                                <div>
                                                    <h3 class="pro-price"> نوع : {{ variant.color }} </h3>
                                                </div>
                                                <hr>
                                                <!-- plus-minus-pro-action -->
                                                <div class="plus-minus-pro-action">
                                                    <div class="sin-plus-minus f-left clearfix">
                                                        <p class="color-title f-left">تعداد</p>
                                                        <div class="text-uppercase" style="display: contents">
                                                            <input class="input" style="text-align: center"
                                                                   name="quantity" type="number" value="1" min="1"
                                                                   max="{{ variant.quantity }}">
                                                        </div>
                                                    </div>
                                                    <div class="sin-pro-action f-right">
                                                        <ul class="action-button">
                                                            <li>
                                                                <a href="/order/addtowishlist/{{ product.id }}"
                                                                   title="Wishlist" tabindex="0"><i
                                                                        class="zmdi zmdi-favorite"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div style="margin-top: 60px">
                                                    <button type="submit"
                                                            {% if variant.quantity < 1 %}disabled {% endif %}
                                                            class="submit-btn-1 mt-60 btn-hover-2 f-left" type="submit"
                                                            style="margin-bottom: 100px">افزودن به سبد خرید
                                                    </button>
                                                </div>
                                            </form>
                                        {% else %}
                                            <form action="/order/addtoshopcart/{{ product.id }}" method="post"
                                                  id="addchart-form">
                                                {% csrf_token %}
                                                <hr>
                                                <h3 class="pro-price">
                                                    قیمت: {{ product.price |intcomma:False }}تومان</h3>
                                                <!--  hr -->
                                                <hr>
                                                <h3 class="pro-price">{% if product.amount > 0 %} موجودی :
                                                    {{ product.amount }} {% else %} ناموجود {% endif %}</h3>
                                                <!--  hr -->
                                                <hr>
                                                <!-- plus-minus-pro-action -->
                                                <div class="plus-minus-pro-action">
                                                    <div class="sin-plus-minus f-left clearfix">
                                                        <p class="color-title f-left">تعداد</p>
                                                        <div class="text-uppercase" style="display: contents">
                                                            <input class="input" style="text-align: center"
                                                                   name="quantity" type="number" value="1" min="1"
                                                                   max="{{ product.amount }}">
                                                        </div>
                                                    </div>
                                                    <div class="sin-pro-action f-right">
                                                        <ul class="action-button">
                                                            <li>
                                                                <a href="/order/addtowishlist/{{ product.id }}"
                                                                   title="Wishlist" tabindex="0"><i
                                                                        class="zmdi zmdi-favorite"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div style="margin-top: 60px">
                                                    <button type="submit"
                                                            {% if product.amount < 1 %}disabled {% endif %}
                                                            class="submit-btn-1 mt-60 btn-hover-2 f-left" type="submit"
                                                            style="margin-bottom: 100px">افزودن به سبد خرید
                                                    </button>
                                                </div>
                                            </form>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <!-- single-product-info end -->
                                </div>
                            </div>
                            <!-- single-product-area end -->
                            <form class="leave-comment" action="/product/addcomment/{{ product.id }}" method="post">
                                {% csrf_token %}
                                <h4 class="blog-section-title border-left mb-30">دیدگاه خود رابیان کنید</h4>

                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="name"
                                               placeholder="نام شما ...">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" name="email"
                                               placeholder="آدرس ایمیل ...">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" name="subject"
                                               placeholder="موضوع ...">
                                    </div>
                                    <div class="col-md-12">
                                      <textarea name="comment" class="custom-textarea"
                                                placeholder="دیدگاه شما ..."></textarea>
                                    </div>
                                </div>
                                {% if user.id is not None %}
                                    <button class="submit-btn-1 black-bg mt-30 btn-hover-2 f-left"
                                            type="submit">ثبت دیدگاه
                                    </button>
                                {% else %}
                                    <div class="alert alert-danger"><strong>شما باید وارد سایت
                                        شوید!</strong> <a href="/login" class="alert-link">ورود به
                                        سایت</a></div>
                                {% endif %}
                                <!--  -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SHOP SECTION END -->

    </section>
    <section>

    </section>
    <!-- End page content -->



{% endblock %}