<!-- START SLIDER AREA -->
<div class="slider-area bg-3 bg-opacity-black-60 dotted-overlay ptb-150 mb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-desc-3 slider-desc-4  text-center">
                    <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                        <h1 class="slider2-title-2 cd-headline clip is-full-width">
                            <span>گوشی هوشمند</span>
                            <span class="cd-words-wrapper">
                                        <b class="is-visible">سامسونگ</b>
                                        <b>اپل</b>
                                        <b>مایکروسافت</b>
                                        <b>نوکیا</b>
                                        <b>سونی</b>
                                    </span>
                        </h1>
                    </div>
                    <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                        <h2 class="slider2-title-3">سامسونگ grand 6</h2>
                    </div>
                    <div class="slider-button wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.5s">
                        <a href="#" class="button extra-small button-white">
                            <span>هم اکنون بخرید</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SLIDER AREA -->