{% extends 'homebase.html' %}
{% load humanize %}
{% load i18n %}
{% block title %}  {{ setting.title }}  | ثبت نام {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMBS SETCTION START -->
    <div class="breadcrumbs-section plr-200 mb-80">
        <div class="breadcrumbs overlay-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner">
                            <h1 class="breadcrumbs-title">ثبت نام</h1>
                            <ul class="breadcrumb">
                                <li><a href="/">خانه</a></li>
                                <li>ثبت نام</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS SETCTION END -->

    <!-- Start page content -->
    <div id="page-content" class="page-wrapper">

        <!-- LOGIN SECTION START -->
        <!-- Start page content -->
        <div id="page-content" class="page-wrapper">

            <!-- LOGIN SECTION START -->
            <div class="login-section mb-80">
                <div class="container">
                    <div class="row">
                        <!-- new-customers -->
                        <div class="col-md-12">
                            <div class="new-customers">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-danger" style="text-align: center;">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <h6 class="widget-title border-left mb-40" style="margin-right: 200px">ثبت نام</h6>
                                <form method="post" style="margin-left: 200px; margin-right: 200px">
                                    <div class="login-account p-30 box-shadow">
                                        {% csrf_token %}
                                        {% for field in form %}
                                            <p>
                                                {{ field.label_tag }}<br>
                                                {{ field }}
                                                {% if field.help_text %}
                                                    <small style="color: grey; margin-top: 0"></small>
                                                {% endif %}
                                                {% for error in field.errors %}
                                                    <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                            </p>
                                        {% endfor %}
                                        <button class="submit-btn-1 btn-hover-1" type="submit">ثبت نام</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- LOGIN SECTION END -->

        </div>
        <!-- End page content -->
        <!-- LOGIN SECTION END -->

    </div>
    <!-- End page content -->


{% endblock %}