<h6 class="widget-title border-left mb-20">پنل کاربری</h6>
<aside class="widget widget-categories box-shadow mb-30">
    <div id="cat-treeview" class="product-cat">

        <ul>
            <li><a href="/user">مشخصات کاربری</a></li>
            <li><a href="/user/orders">سفارشات من</a></li>
            <li><a href="/user/orders_product">لیست سفارش محصولات</a></li>
            <li><a href="/user/comments">نظرات من</a></li>
            <li><a href="/user/favorits">علاقه مندی ها</a></li>
            <li><a href="/user/products">محصولات من</a></li>
            <li><a href="/logout">خروج</a></li>
        </ul>

    </div>
</aside>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" style="text-align: center">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}