{% extends 'homebase.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block title %}  {{ user.first_name }} | تغییر رمز عبور {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMBS SETCTION START -->
    <div class="breadcrumbs-section plr-200 mb-80">
        <div class="breadcrumbs overlay-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner">
                            <h1 class="breadcrumbs-title">تغییر رمز عبور</h1>
                            <ul class="breadcrumb">
                                <li><a href="/">خانه</a></li>
                                <li><a href="/user/">پنل کاربری</a></li>
                                <li>تغییر رمز عبور</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS SETCTION END -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                {% include "user_panel.html" %}
            </div>
            <div class="col-md-9 col-xs-12">
                <h6 class="widget-title border-left mb-20">تغییر رمز عبور</h6>
                <div class="media author-post box-shadow mb-60">
                    <div class="media-body">
                        <div class="new-customers">
                            <div class="p-30">
                                <div class="row">
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div style="color: #d43f3a; font-size: medium">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <form method="post">
                                        {% csrf_token %}
                                        {% for field in form %}
                                            <p>
                                                {{ field.label_tag }}<br>
                                                {{ field }}
                                                {% if field.help_text %}
                                                    <small style="color: grey"></small>
                                                {% endif %}
                                                {% for error in field.errors %}
                                                    <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                            </p>
                                        {% endfor %}
                                        <button class="submit-btn-1 mt-30 btn-hover-1" type="submit">ذخیره تغییرات
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}