{% extends 'homebase.html' %}
{% load humanize %}
{% load i18n %}
{% block title %}  {{ user.first_name }}  | نظرات کاربر {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMBS SETCTION START -->
    <div class="breadcrumbs-section plr-200 mb-80">
        <div class="breadcrumbs overlay-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner">
                            <h1 class="breadcrumbs-title">نظرات کاربر</h1>
                            <ul class="breadcrumb">
                                <li><a href="/">خانه</a></li>
                                <li><a href="/user/">پنل کاربری</a></li>
                                <li>نظرات کاربر</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS SETCTION END -->



{% endblock %}