{% extends 'homebase.html' %}
{% load humanize %}

{% block title %}{{ setting.title }}  | پرداخت   {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMBS SETCTION START -->
    <div class="breadcrumbs-section plr-200 mb-80">
        <div class="breadcrumbs overlay-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner">
                            <h1 class="breadcrumbs-title">پرداخت</h1>
                            <ul class="breadcrumb">
                                <li><a href="/">خانه</a></li>
                                <li><a href="/shopcart/">سبد خرید</a></li>
                                <li>پرداخت</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS SETCTION END -->

    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">
        <!-- Action start -->
        <div>
            <div class="container">
                <div class="row">
                    <div class="action-box">
                        <h1 style="text-align: center; color: green">سفارش تکمیل شد</h1>
                        <hr>
                        <h2 style="text-align: center;">   {{ user.first_name }}  عزیز </h2>
                        <hr>
                        <h3 style="text-align: center; color: gray">سفارش شما تکمیل شد</h3>
                        <h3 style="text-align: center; color: gray">کد پیگیری شما : {{ ordercode }}</h3>
                        <h3 style="text-align: center; color: gray; margin-bottom: 60px">با تشکر از خرید شما</h3>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Action end -->
    </section>
    <!-- End page content -->


{% endblock %}