{% extends 'homebase.html' %}
{% load humanize %}

{% block title %}{{ setting.title }}  | سبد خرید   {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

    <!-- BREADCRUMBS SETCTION START -->
    <div class="breadcrumbs-section plr-200 mb-80">
        <div class="breadcrumbs overlay-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner">
                            <h1 class="breadcrumbs-title">سبد خرید</h1>
                            <ul class="breadcrumb">
                                <li><a href="/">خانه</a></li>
                                <li>سبد خرید</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS SETCTION END -->

    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- SHOP SECTION START -->
        <div class="shop-section mb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- shopping-cart start -->
                            <div class="tab-pane active" id="shopping-cart">
                                <div class="shopping-cart-content">
                                    <form action="#">
                                        <div class="table-content table-responsive mb-50">
                                            <table class="text-center">
                                                <thead>
                                                <tr>
                                                    <th class="product-thumbnail">محصول</th>
                                                    <th class="product-price">قیمت</th>
                                                    <th class="product-quantity">تعداد</th>
                                                    <th class="product-subtotal">جمع کل</th>
                                                    <th class="product-remove">حذف</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!-- tr -->
                                                {% for rs in shopcart %}
                                                    <tr>
                                                        <td class="product-thumbnail">
                                                            <div class="pro-thumbnail-img">
                                                                <img src="{{ rs.product.image.url }}" alt="">
                                                            </div>
                                                            <div class="pro-thumbnail-info text-left">
                                                                <h6 class="product-title-2">
                                                                    <a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{ rs.product }}</a>
                                                                </h6>
                                                                <p>برند: {{ rs.product.brand_name }}</p>
                                                                <p>مدل: {{ rs.product.model_name }}</p>
                                                                <p> رنگ: {{ rs.product.color }}</p>
                                                            </div>
                                                        </td>
                                                        <td class="product-price">{{ rs.product.price | intcomma:False  }}
                                                            تومان
                                                        </td>
                                                        <td class="product-quantity">
                                                            <div>
                                                                <p class="color-title f-left"
                                                                   style="font-size: 20px">{{ rs.quantity }}</p>
                                                            </div>
                                                        </td>
                                                        <td class="product-subtotal">{{ rs.amount | intcomma:False  }} تومان
                                                        </td>
                                                        <td class="product-remove">
                                                            <a href="/order/deletefromcart/{{ rs.id }}"
                                                               onclick="return confirm('خذف محصول ! مطمئن هستید ؟')"><i
                                                                    class="zmdi zmdi-close"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-success" style="text-align: center">
                                                    <strong>{{ message }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="payment-details box-shadow p-30 mb-50">
                                                    <h6 class="widget-title border-left mb-20">جزئیات پرداخت</h6>
                                                    <table>
                                                        <tr>
                                                            <td class="td-title-1">جمع سبد</td>
                                                            <td class="td-title-2">{{ total | intcomma:False  }} تومان</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-title-1">حمل و نقل</td>
                                                            <td class="td-title-2">
                                                                {% if total >= 200000 %}
                                                                    رایگان
                                                                {% else %}
                                                                    {{ transport | intcomma:False  }}
                                                                    تومان
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="order-total">مجموع سفارش</td>
                                                            <td class="order-total-price">
                                                                {% if total >= 200000 %}
                                                                    {{ total | intcomma:False  }}
                                                                    تومان
                                                                {% else %}
                                                                    {{ final_total | intcomma:False  }}
                                                                    تومان
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <a class="button button-black mt-15" href="/order/orderproduct">
                                                    <span>ثبت سفارش</span>
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- shopping-cart end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SHOP SECTION END -->

    </section>
    <!-- End page content -->

{% endblock %}