# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\pjavi\Desktop\Doorsun-Magnet-Website-Project-Django\DoorSunShop\DoorSunShop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
